body {
  background-image: url("https://i.ibb.co/4sv3DzH/fondo-checkin.jpg");
  background-size: cover;
  font-family: Roboto;
  font-weight:bold;
  text-align: center;
  width: 100%;
}

.page{
  display: none;
}

.btn{
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    font-weight:bold;
    margin: 10px;
    padding: 5px 0px;
    width: 200px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 3px 0px;
    margin-bottom: 1rem;
    font-family: Roboto;
    border-radius: 10px;
}

h1 {
  color: #FF069B;
  font-style: normal;
  font-weight:bold;
  font-size: 50px;
  text-align: center;
}
 #registro, #bienvenido{
   color: #05D505;
   font-style: normal;
   font-weight:bold;
   font-size: 25px;
   text-align: center;
 }
.textBox{
  background-color: #C4C4C4;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  margin: 10px;
  padding: 5px 0px;
  width: 200px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 3px 0px;
  margin-bottom: 1rem;
  font-family: Roboto;
  font-weight:bold;
  border-radius: 10px;

}

#register, #logIn, #profile, #poll {
  background-color: #05D505;

}

#  {
  background-color:  #FF069B;
}

#guest, #agend, #modifyData {
  background-color: #FF6A06;
}

#signIn, #checkIn, #forum, #mailbox{
  background-color: #08B5FF;
}






background-color: #08B5FF; (TONO AZUL)
background-color: #FF069B; (TONO ROSA)
background-color: #FF6A06; (TONO NARANJA)
background-color: #05D505; (TONO VERDE)

ROSA
VERDE
GRIS
NARANJA
AZUL
